body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.vh-40 {
  height: 40vh;
}
.bg-1 {
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 0;
  zoom: 1;
}
.pab-100px {
  padding-bottom: 100px;
}
.text-main-color {
  color: #29c6cd;
}
.border-color {
  border-color: #fff;
}
.hover-border-main-color {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.hover-border-main-color:hover {
  border-color: #29c6cd;
}
.hover-text-main-color {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.hover-text-main-color:hover {
  color: #29c6cd;
}
.content {
  font-size: 18px;
}

.post-content>*:first-child {
    margin-top: 0;
}
.content a {
  text-decoration: none;
  transition: color 0.15s ease-in;
  color: #29c6cd;
}
.content a:hover {
  opacity: 0.5;
  transition: all 0.15s ease-in;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 24px 0 16px 0;
  font-weight: 600;
  line-height: 1.25;
}
.content h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}
.content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}
.content h3 {
  font-size: 1.25em;
}
.content h4 {
  font-size: 1.15em;
}
.content h5 {
  font-size: 1.05em;
}
.content h6 {
  font-size: 0.95em;
  color: #777;
}
.content code {
  background-color: #e5f8ff !important;
  color: #3bbbe9 !important;
}
.content hr {
  border: 0;
  height: 1px;
  background: #eee;
}
.content ul li {
  list-style-type: round;
}
.content b {
  font-weight: 600;
}
.post-content img {
  display: block;
}
.post-content .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.post-content .video-container iframe,
.post-content .video-container object,
.post-content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.tags-container-vertical {
  display: none;
}
@media screen and (min-width: 1400px) {
  .tags-container-vertical {
    display: block;
    position: relative;
    height: 0;
    margin-left: -10vw;
  }
  .tags-container-vertical .tags-sub-container {
    position: absolute;
    text-align: right;
    transform-origin: left;
    transform: rotate(-90deg) translateX(-100%);
  }
}
.tags-container-bottom {
  display: block;
}
@media screen and (min-width: 1400px) {
  .tags-container-bottom {
    display: none;
  }
}
.content code {
  border: none;
  padding: 3px 4px 1px 4px;
  font-size: 90%;
  color: #383a42;
  background-color: #ccc;
  border-radius: 4px;
}
